---
import Layout from '@/layouts/BlogPost.astro';
---

<Layout 
    title="ุตูุญู ุงุตู ูุงุฑุณ"
    description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
    lang='fa'
    dir='rtl'
    >
  <h1 dir="rtl">ุณูุงู! ๐</h1>
  <p dir="rtl">
    ุงู ูุจูุงฺฏ ุจุฑุง ุงุดุชุฑุงฺฉโฺฏุฐุงุฑ ุงูฺฉุงุฑ ุดุฎุต ู ุญูุงุช ุงุฒ ุฌูุจุดโูุง ุงุฌุชูุงุน ุงุฑุงู ุณุงุฎุชู ุดุฏู ุงุณุช.
  </p>
</Layout>